body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  background: #282c34;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  gap: 15px;
}

nav a, nav span, nav button {
  color: white;
  text-decoration: none;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

nav button:hover, nav a:hover {
  text-decoration: underline;
}
